.table-wrapper {
    width: 100%;
}

.table-wrapper .table {
    width: 100%;
    margin: 0 auto;
    border: #89c3f5 solid 1px;

}

.table-wrapper .table td {
    padding: .25em;
    margin-top: .25em;
    border: #89c3f5 solid 1px;
}

.table-wrapper thead td {
    background: #afe0f6;
    color: #3f7189;
}

.table-wrapper tbody tr:nth-child(odd) td {
    background: #ffffff;
    color: #0062a8;
}

.table-wrapper tbody tr:nth-child(even) td {
    background: #f1f1f1;
    color: #22445c;
}
