.idea
node_modules
backend/src/uploads
vendor
.DS_Store
.phpunit.result.cache

oauth-*.key

front/.env

# Docker persistant volumes.
storage
data

# Cypress ignore
cypress/cypress/fixtures/
cypress/cypress/videos