@import "../../variables.scss";

.button {
    border-radius: 3px;
    font-weight: bold;
    height: 3.25em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    letter-spacing: .25em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 2em auto 0;
    color: white;

    &.upload {
        background: #68d391;
        border-bottom: 2px solid #feb2b2;

        &:focus {
            outline: 0;
            border-bottom-color: #e53e3e;
        }
    }

    svg {
        font-size: 2em;
        margin-right: .25em;
    }

    &.download {
        background: #6893d3;
        border-bottom: 2px solid #fee2b2;

        &:focus {
            outline: 0;
            border-bottom-color: #e5b63e;
        }
    }

    &.submit {
        background: $other-color;
        &:focus {
            outline: 0;
            color: $other-color;
            background: $header-text;
        }
    }
}
.login-in {
    margin-top: 0;

    &.facebook {
        background: #1392ec;
    }

    &.google {
        background: #d54a39;
    }

    &.apple {
        background: black
    }
}
