.logo {
    padding-left: .5em;
    font-size: 3em;
    padding-top: .25em;
    padding-bottom: .25em;
    width: 245px;
}

.logo .sub-text {
    font-size: .25em;
    font-weight: lighter;
    text-align: center;
}

.logo .text {
    font-weight: lighter;
    font-size: .75em;
    padding-left: .25em;
}

.logo .fa-primary {
    color: #85bb65;
}

.logo .fa-secondary {
    color: #65bb66;
}
