.logo {
    padding-left: .5em;
    font-size: 4em;
    padding-top: .25em;
    padding-bottom: .25em;
    font-weight: 700;

    .sub-text {
        font-size: .25em;
        font-weight: 400;
        text-align: center;
    }

    img {
        height: 6vh;
    }

    .text {
        font-weight: lighter;
        font-size: .75em;
    }
}
