.logo {
    padding-left: .5em;
    font-size: 3em;
    padding-top: .25em;
    padding-bottom: .25em;
    width: 245px;

    .sub-text {
        font-size: .25em;
        font-weight: lighter;
        text-align: center;
    }

    .text {
        font-weight: lighter;
        font-size: .75em;
        padding-left: .25em;
    }

    .fa-primary {
        color: #85bb65;
    }

    .fa-secondary {
        color: #65bb66;
    }
}
