.login-wrapper {
    min-width: 60vw;
    border: solid 1px #e46bb2;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 4px;

    .input-element {
        background: white;
        border-bottom: 2px solid #fee2b2;
        font-size: 1.25em;
        min-width: 75%;
        padding: .25em;
        padding-left: .75em;
        height: 60%;
        border-radius: 5px 5px 0 0;

        &.invalid-input {
            border-radius: 5px;
            border: #fc8181 solid 1px;
        }
    }
}
