@import "../../variables.scss";

.login-wrapper {
    color: $header-text;
    min-width: 40%;
    min-height: 50vh;
    border: solid 1px $header-background;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 4px;
    background: $header-background;

    .input-element {
        color: $header-background;
        background: white;
        border-bottom: 2px solid #fee2b2;
        font-size: 1.25em;
        min-width: 75%;
        padding: .25em;
        padding-left: .75em;
        height: 60%;

        &.invalid-input {
            border-radius: 5px;
            border: #fc8181 solid 1px;
        }
    }
}
