$text-color: #006d77;
$header-background: #006d77;
$header-text: #edf6f9;
$third-color: #ffddd2;
$fourth-color: #e29578;

img {
  display: initial;
}

.App {
  min-height: 100vh;
  color: $text-color;

  header {
    background: $header-background;
    color: $header-text;
  }

  main {
    min-height: 92vh;
    background: $header-text;
  }
}
