@import "variables.scss";

img {
  display: initial;
}

a {
  font-weight: 400;
  text-decoration: underline;
}

.App {
  min-height: 100vh;
  color: $text-color;

  header {
    background: $header-background;
    color: $header-text;

    a {
      text-decoration: none;
    }
  }

  main {
    min-height: 92vh;
    background: $header-text;
  }
}
