@import "../../variables";

.files-wrapper {
  padding-left: 1.25em;
  text-align: center;
  width: 100vw;

  .files {
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      font-size: 1.15em;

      th, td {
        padding: .5em;
      }

      tr {
        td:first-child {
          border-left: solid $fourth-color 1px;
        }

        td:last-child {
          border-right: solid $fourth-color 1px;
        }

        &:last-child {
          border-bottom: solid 1px $fourth-color;
        }
      }

      tbody {
        tr {
          & {
            background: white;
            color: $other-color;
          }

          &:hover {
            background: $header-text;
            color: $header-background;
          }
        }
      }
    }
  }
}
