@tailwind base;

@tailwind components;

@tailwind utilities;

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-sans {
    font-family: 'Open Sans', sans-serif;
}

.login-screen {
    min-height: 92vh;
    @apply w-screen flex justify-center items-center
}
